doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors")
    meta(name="generator" content="Jekyll v4.1.1")
    title 🌟 Health Report-App 💗
    link(rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/cover/")
    // Bootstrap core CSS
    link(href="bootstrap.min.css" rel="stylesheet")
    style.
      .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      }
      @media (min-width: 768px) {
      .bd-placeholder-img-lg {
      font-size: 3.5rem;
      }
      }
    // Custom styles for this template
    link(href="cover.css" rel="stylesheet")
  body.text-center
    .cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
      header.masthead.mb-auto
        .inner
          h3.masthead-brand Health Report App
          nav.nav.nav-masthead.justify-content-center
            a.nav-link.active(href="https://robertpoenaru.herokuapp.com/") Home
            a.nav-link(href="https://twitter.com/basavyr") Contact
      div
          p(style="text-align:left;").lead=header
          p(style="text-align:left;")=content
          p(style="text-align:left;")=bye1
          p(style="text-align:left;")=bye2
          p(style="text-align:left;")=address
          p(style="text-align:left;")=personal
      //- form
            //- input#myInput(type="text" placeholder="Search" aria-label="Search")
            //- button(type="submit" onclick="myFunction()") Copy to clipboard

      //- script.
      //-       function myFunction() {
      //-       var copyText = document.getElementById("mypara");
      //-       copyText.select();
      //-       copyText.setSelectionRange(0, 99999);
      //-       document.execCommand("copy");
      //-       //- var tooltip = document.getElementById("myTooltip");
      //-       //- tooltip.innerHTML = "Copied: " + copyText.value;
      //-       }
      //-       function outFunc() {
      //-       var tooltip = document.getElementById("myTooltip");
      //-       tooltip.innerHTML = "Copy to clipboard";
      //-       }

      footer.mastfoot.mt-auto
        .inner
          p
            | Project made with ❤️ by 
            a(href="https://github.com/basavyr") basavyr  and deployed 🚀 online via 
            a(href="https://www.heroku.com/") Heroku
            | .
